body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.NavBarContainer {
  border: solid 1px red;
  padding: 10px;
}

.linkLogin{
  text-decoration: none !important;
  color: inherit !important;
  border:solid 1px;
  padding: 3px;
}

.footerContainer {
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Main */
.m-banner{
  border:1px solid black; 
  height: 100px;
}
.m-ofertas{
  border:1px solid grey;
  height: 400px;
}
.m-productos{
  border:1px solid blue;
  height:800px;
}